
   .Login form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
      
      input {
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 300px;
      }
      
      
      button:disabled {
        background-color: #ddd;
        color: #999;
        cursor: default;
      }
      

       
