
 .OrdersList {
  position: relative;
  padding-top: 50px; 
}

.OrdersList table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -1px; 
}

.OrdersList thead,
.OrdersList tbody {
  position: relative;
  display: block;
}

.OrdersList tbody {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.OrdersList th,
.OrdersList td {
  padding: 8px;
  text-align:left;

}

.OrdersList th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  color: var(--secondary-color)
}

.OrdersList .tableHead {
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
  margin: 0;
}

.OrdersList input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

