.App{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: repeat(12,1fr);
  text-align: center;
}

.App .Header{
  width: 100%;
  grid-column:span 12;
  /* background-color: var(--background-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid ;
}

.App .Main{
  width: 100%;
  grid-column:span 10;
  /* background-color:var(--background-color); */
  border: 2px solid ;
  overflow-y: auto;

}
.App .Menu{
  width: 100%;
  grid-column:span 2;
  /* background-color:var(--background-color); */
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid ;
} 


.App .Footer{
  width: 100%;
  grid-column:span 12;
  /* background-color:var(--background-color); */
  font-size: large;
  /* color: white; */
  border: 2px solid ;
}
.MovieCard {
  display: inline-block;
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.MovieCard p:first-child {
  font-weight: bold;
  margin-top: 0;
}

.MovieCard img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

